.dashboard{
    position: relative;
    display: flex;
    flex-direction: row;
    border: .1rem dashed $brightest-pink;

}

.posenet{
    width: 50%;
}

.three{
    width: 50%;


}

#three-canvas{
    width: 20rem;
    height: 20rem;
}


#video{
    position: relative;
    // left: 50%;
    margin: 2rem;
    border: .1rem dashed $brightest-pink;
    // padding: 1rem;
    // background-color: $brightest-pink;
}
