///  C O L O R S


$white: #FBDAF5;
$black: #000a14;

$light-thistle: #FBDAF5;
$lightish-thistle: #F9C8F0;
$medium-thistle: #F5A3E6;
$dark-thistle: #F17EDC;
$darker-thistle: #ED5AD2;
$darkest-thistle: #E935C8;
$brightest-pink: #DC18B8;
$dark-bright-pink: #A5128A;
$darker-bright-pink: #810E6C;
$darkest-bright-pink: #5C0A4D;
$blackish-pink: #37062E;
$blacker-pink: #25041F;
$black-pink: #12020F;


$light-queen-pink: #FEAFD2;
$medium-queen-pink: #FD5DA5;
$medium-dark-queen-pink: #FD2184;
$medium-darker-queen-pink: #F2026E;
$medium-darkerer-queen-pink: #B60253;
$dark-darkerer-queen-pink: #8D0140;
$darker-darkerer-queen-pink: #510025;
$blackish-neon-pink: #290012;
$black-neon-pink: #140009;

$medium-blue: #0496FF;
$darker-medium-blue: #0083E0;

$light-tuscany: #005cb8;
$medium-tuscany: #00478f;
$medium-dark-tuscany: #003366;
$dark-tuscany: #002952;
$darker-tuscany: #001f3d;
$darkest-tuscany: #001429;
$blackest-blue: #000d1f;


//   G R I D    V A R I A B L E S
$grid-width: 114rem;
$gutter-vertical : 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sml: 2rem;


//   F O N T    S I Z E
$default-font-size: 1.6rem;


// B O X   S H A D O W
$box-shadow-small-light: 0 1rem 2rem rgba($color: $dark-tuscany, $alpha: .15);
$box-shadow-light: 0 1.5rem 4rem rgba($color: $dark-bright-pink, $alpha: .15);
$box-shadow-medium: 0 1.5rem 4rem rgba($color: $dark-tuscany, $alpha: .20);
$box-shadow-dark: 0 1.5rem 4rem rgba($color: $dark-tuscany, $alpha: .25);
$box-shadow-big-dark: 0 2rem 4rem rgba($color: $dark-tuscany, $alpha: .4);


// C O M P O N E N T   V A R I A B L E S
$card-height-big: 50rem;
$card-height: 42rem;
$card-height-tab: 45rem;
$card-height-phone: 62rem;

// S H A P E S 
$circle70: circle(70% at 70% 70%);
$circle60: circle(60% at 60% 60%);
$circle50: circle(50% at 50% 50%);
$circle40: circle(40% at 40% 40%);


// B O R D E R    R A D I U S 
$border-radius-sm: 0rem;
$border-radius-big: 0rem;
$border-radius-round: 0rem;